<div class="row">
  <div class="col">
    <h5>Search</h5>
    <input type="text" placeholder="Enter keywords..." />&nbsp;<span
      class="search-icon"
    ></span>
  </div>
</div>

<div class="row">
  <div class="col">
    <h5>Latest News</h5>
    <h6>Vivera justo nec</h6>
    <i>January 1st, 2020</i>
    <p>
      Aliquam fuga ea deleniti neque, ...<a class="btn btn-link" routerLink="/sideApp/details"
        >read more</a
      >
    </p>
    <hr />

    <h5>Justo nec ultrices</h5>
    <h6>Vivera justo nec</h6>
    <i>January 21st, 2020</i>
    <p>
      Aut nostrum eius ut, sunt veritatis...<a class="btn btn-link" routerLink="/sideApp/details"
        >read more</a
      >
    </p>
    <hr />

    <h5>Maescenas sed enim ut</h5>
    <h6>Accusantium quos facilis labore</h6>
    <i>January 31st, 2020</i>
    <p>
      Aliquam fuga ea deleniti neque, ...<a class="btn btn-link" routerLink="/sideApp/details"
        >read more</a
      >
    </p>
    <hr />
  </div>
</div>
