<div class="row">
  <div class="col">
    <h1>Welcome to the Micro Frontend</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione
      reiciendis natus. Eius maiores maxime ab suscipit harum quam deserunt
      fugiat, voluptas, corrupti at officiis, animi unde eaque repellendus
      itaque.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>{{ heading }}</h2>
    <p>
      Eaque pariatur consequatur sequi error cupiditate blanditiis officiis.
      Corporis, et laboriosam eveniet culpa numquam recusandae velit
      voluptatibus? Consequatur rem ducimus quas.
    </p>

    <p>This the authentification token: {{authToken}}</p>
  </div>
</div>
