<div class="row">
  <div class="col">
    <h2>This section is from another app</h2>
    <p>
      Assumenda asperiores cupiditate omnis ipsum cum, delectus commodi. Ab recusandae eius odio sunt, harum nemo dolorem ducimus iure officiis sit tempora beatae!
      <button (click)="ce_changeHead()" class="btn btn-outline-info">Change heading</button>
    </p>
  </div>
  <router-outlet></router-outlet>
</div>
