<div class="wht-box">
  <h3>New Details</h3>
  <h4>This is a news heading</h4>
  <i><b>Published date:</b>January 1st, 2020</i>
  <hr/>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto neque totam veritatis quis mollitia, reiciendis, similique assumenda provident dignissimos dolores odit facilis numquam! Molestiae alias commodi nam vitae ipsa hic.</p>
  <p><a routerLink="/sideApp/home">Back</a></p>
</div>
